@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  background-image: url(../img/RUETRAVIS.jpeg);
  background-size: cover;
  background-position: 70% 65%;
}

.nav {
  height: 80px;
  background-color: transparent;
  color: #fff;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 2rem;
  font-family: 900;
  padding-top: 300px;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  --clippy: $clippy-default;
}
.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
  background: transparent;
}
.nav__label, .nav__input {
  display: none;
}
.nav__menu {
  position: fixed;
  top: 80px;
  bottom: 0;
  background: black;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  clip-path: circle(0 at center);
  transition: clip-path 1s ease-in-out;
}
.nav__menu__input:checked + .nav__menu__menu {
  clip-path: circle(100% at center);
}

.nav__logo {
  text-align: center;
  padding-top: 250px;
}

.titulo1 {
  text-align: center;
  padding-top: 250px;
}

.nav {
  height: 80px;
  background-color: transparent;
  color: #fff;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 2rem;
  font-family: 900;
  padding-top: 300px;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  --clippy: $clippy-default;
}
.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
  background: transparent;
}
.nav__label, .nav__input {
  display: none;
}
@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: black;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__menu__input:checked + .nav__menu__menu {
    clip-path: circle(100% at center);
  }
}

.nav__logo {
  text-align: center;
  padding-top: 250px;
}

.titulo1 {
  text-align: center;
  padding-top: 250px;
}

.fondoinicio {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url();
}
.fondoinicio .prod__titulo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 100px;
}

.productosdestacados {
  margin: 50px 0;
}
.productosdestacados .gridcontainer__productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.productosdestacados .gridcontainer__productos .griditem__destacados {
  position: relative;
  overflow: hidden;
}
.productosdestacados .gridcontainer__productos .griditem__destacados img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
.productosdestacados .gridcontainer__productos .griditem__destacados:hover img {
  transform: scale(1.1);
}
.productosdestacados .gridcontainer__productos .griditem__destacados h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.productosdestacados .gridcontainer__productos .griditem__destacados:hover h3 {
  opacity: 1;
}
.productosdestacados .gridcontainer__productos .griditem__destacados button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.productosdestacados .gridcontainer__productos .griditem__destacados:hover button {
  display: block;
  opacity: 1;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000;
  padding: 30px;
  margin-bottom: 70px;
}
.iframe-container .iframetext {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  color: #fff;
  padding: 90px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__content__text {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.footer__content__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer__content__social li {
  margin: 0 10px;
}
.footer__content__social li a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.footer__content__social li a:hover {
  color: rgb(0, 255, 157);
}

.fondocontacto {
  background-image: url(../img/IMG-9581.JPG);
}

.nav {
  height: 80px;
  background-color: transparent;
  color: #fff;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 2rem;
  font-family: 900;
  padding-top: 300px;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  --clippy: $clippy-default;
}
.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
  background: transparent;
}
.nav__label, .nav__input {
  display: none;
}
@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: black;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__menu__input:checked + .nav__menu__menu {
    clip-path: circle(100% at center);
  }
}

.nav__logo {
  text-align: center;
  padding-top: 250px;
}

.titulo1 {
  text-align: center;
  padding-top: 250px;
}

#contacto {
  padding: 20px;
  text-align: center;
}
#contacto form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 100px;
}
#contacto form label {
  font-weight: bold;
  margin-bottom: 5px;
}
#contacto form input[type=text],
#contacto form input[type=email],
#contacto form select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#contacto form button[type=submit] {
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#contacto form button[type=submit]:hover {
  background-color: #0077ff;
}

.footer {
  color: #fff;
  padding: 90px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__content__text {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.footer__content__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer__content__social li {
  margin: 0 10px;
}
.footer__content__social li a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.footer__content__social li a:hover {
  color: rgb(0, 255, 157);
}

.fondocatalogo {
  background-image: url(../img/IMG_9582.jpeg);
}

.nav {
  height: 80px;
  background-color: transparent;
  color: #fff;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 2rem;
  font-family: 900;
  padding-top: 300px;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  --clippy: $clippy-default;
}
.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
  background: transparent;
}
.nav__label, .nav__input {
  display: none;
}
@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: black;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__menu__input:checked + .nav__menu__menu {
    clip-path: circle(100% at center);
  }
}

.nav__logo {
  text-align: center;
  padding-top: 250px;
}

.titulo1 {
  text-align: center;
  padding-top: 250px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev,
.carousel-control-next {
  width: 50%;
}

.aviso {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.footer {
  color: #fff;
  padding: 90px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__content__text {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.footer__content__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer__content__social li {
  margin: 0 10px;
}
.footer__content__social li a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.footer__content__social li a:hover {
  color: rgb(0, 255, 157);
}

.nav {
  height: 80px;
  background-color: transparent;
  color: #fff;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 2rem;
  font-family: 900;
  padding-top: 300px;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  --clippy: $clippy-default;
}
.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
  background: transparent;
}
.nav__label, .nav__input {
  display: none;
}
@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: black;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__menu__input:checked + .nav__menu__menu {
    clip-path: circle(100% at center);
  }
}

.nav__logo {
  text-align: center;
  padding-top: 250px;
}

.titulo1 {
  text-align: center;
  padding-top: 250px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev,
.carousel-control-next {
  width: 50%;
}

.aviso {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

/* cierre de css catalogo.html */
.ruerugs {
  text-align: center;
  padding-top: 100px;
  color: #fff;
}

.historia {
  background-color: #3c271d;
  color: #fff;
  padding: 50px;
}

.in-flex {
  flex: 2;
  padding: 3px;
  background-color: #3c271d;
  color: #fff;
}

.footer {
  color: #fff;
  padding: 90px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__content__text {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.footer__content__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer__content__social li {
  margin: 0 10px;
}
.footer__content__social li a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.footer__content__social li a:hover {
  color: rgb(0, 255, 157);
}

/*# sourceMappingURL=styles.css.map */
